@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto');

.navbar-toggle {
	float: right;
}

.wrapper {
	background-color: #0275d8;
}

.jumbotron {
	padding-top: 150px;
	font-family: 'Pacifico', cursive;
	background-color: #fff;
}

.jumbotron p, a {
	font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 763px) {
	.jumbotron h1 {
	font-size: 2em;
	}
	.jumbotron p {
	font-size: 0.8em;
	}
	header h5 {
	font-size: 3vw;
	padding-bottom: 30px;
	}
	header {
	background: #fff;
	height: 100%;
	}
	#mwImg {
	padding-top: 10vh;
	width: 30vw;
	}
	.technology h5 {
	padding: 50px !important;
	font-size: 3.5vw;
	}
	.technology img {
	width: 75px !important;
	}
	.contact h5 {
	padding-top: 5vh;
	font-family: 'Roboto', sans-serif;
	}
}

header {
	background-size: cover;
	height: 100vh;
}

#mwImg {
	padding: 10px;
	position: relative;
	top: 40px;
	left: -50px;
	z-index: 999;
}

.aboutMe {
	height: 100vh;
	background-color: #fff;
}

.aboutMe .jumbotron {
	z-index: -1;
	background: transparent;
}

.aboutMe h5 {
	padding: 30px 50px 300px 50px;
	font-family: 'Roboto', sans-serif;
}

.aboutMe .nav img {
	padding: 20px 30px 0px;
	height: 6vh;
}

.aboutMe img:hover {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);

	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.technology {
	background: url(../pics/content/laptop-comp.jpg) fixed;
	background-size: cover;
	height: 50vh;
	background-repeat:no-repeat;
	background-position:center;
}

.technology img {
	width: 10vw;
	height: 12vh;
	padding: 1vw;
}

.technology img:hover {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);

	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.technology h5 {
	padding-top: 100px;
	padding-bottom: 50px;
	font-family: 'Roboto', sans-serif;
}

.contact {
	background: #0275d8;
	height: 450px;
}

.contact h5 {
	padding: 100px 0 50px 0;
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

.contact img {
	padding: 15px;
	width: 70px;
}

/////////////// footer ///////////////

html, body {
	margin: 0;
	padding: 0;
	border: 0;
}

footer {
	padding: 10px 10px 10px 0;
	background: #0275d8;
	height: 50px;
}

footer p {
	width: auto;
	text-align: right;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
}

footer ul {
	border-bottom: 20px;
}

.hide{
	opacity:0
}
 
.show {
	opacity: 1;
}